.panel {
    overflow: auto;
    padding-left: 3rem;
    padding-right: 1rem;
}

.panel .header {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.card {
    background-color: var(--color-surface);
    border-radius: var(--normal-radius);
}



.panel .tab-container {
    overflow: auto;
}

.panel .search {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    max-width: 800px;
    width: 100%;
    fill: var(--color-on-surface);
    gap: 1rem;
}

.panel .search svg {
    fill: inherit;
}

.panel .search input {
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    color: var(--color-on-surface-dark);
}



/* ------------------- reports -------------------*/
.panel>.reports {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.panel>.reports .card {
    height: 100px;
    width: 260px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.panel>.reports p {
    font-size: var(--small-font);
    margin: 0;
    margin-bottom: 0.5em;
}

.panel>.reports span {
    font-size: var(--average-2-font);
    color: var(--color-primary);
}


.panel>.reports .progress {
    position: absolute;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    width: 30%;
}

.panel>.reports .progress.secondary {
    background-color: var(--color-secondary);
}

.panel>.reports .progress.danger {
    background-color: var(--color-error);
}

.panel>.reports .progress.success {
    background-color: var(--color-green);
}

.panel>.reports .progress.neutral {
    background-color: var(--color-yellow);
}





/* ---------------------- table ------------------ */

table {
    width: 100%;
    border-collapse: collapse;
    color: var(--color-on-surface-dark);
}


table tr {
    border-bottom: 1px solid var(--color-surface-variant);
    background-color: white;
}

table th,
table td {
    font-weight: normal;
    height: 60px;
    text-align: left;
    padding: 0 1rem;
    white-space: pre;
}


table tr:hover{
    background-color: var(--color-surface-variant);
}

table tr.active.primary{
    background-color: var(--color-primary);
    color: white;
}

table tr.spacer {
    background-color: transparent;
}

table tr.spacer td{
    height: 12px;
}

table img {
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto 0;
}

table svg {
    display: block;
    margin: auto 0;
    fill: var(--color-on-surface-dark);
}

table .menu-button {
    position: relative;
}

table svg.danger {
    fill: var(--color-error);
}

table svg.normal {
    fill: var(--color-primary);
}

table svg {
    height: 24px;
}


table .chip {
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;

}


table .chip.normal {
    background-color: var(--color-primary);
    color: white;
}

table .chip.pink {
    background-color: var(--color-secondary);
    color: white;
}

table .chip.success {
    background-color: var(--color-green);
    color: white;
}

table .chip.danger {
    background-color: var(--color-error);
    color: white;
}













/* --------------------------- dialogs ---------------------------- */

.dialog-holder{
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

}

.dialog-holder .dialog{
    background-color: white;
    width: 600px;
    padding: 1.5rem; 
    overflow: auto;
    max-height: 700px;
}

.dialog-holder .content{
    min-height: 100px;
    margin: 1rem 0;
    margin-top: 2rem;
}

.dialog-holder .dialog .medium{
    width: 800px;
}

.dialog-holder h4{
    margin: 0;
}

.dialog-holder .buttons-holder{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    margin-top: auto;
}

.dialog .input{
    margin-bottom: 1rem;
}

.dialog .col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.dialog .input input, .dialog .input textarea, .dialog .input select{
    border: none;
    outline: none;
    background-color: var(--color-surface-variant);
    padding: 0.5em 1em;
    border-radius: 4px;
    width: 100%;
    display: block;
}

.dialog textarea{
    resize: vertical;
}

.dialog .input select{
    padding: 0.65em 1em;
}

.dialog .input span{
    display: block;
    font-size: var(--small-font);
    color: var(--color-on-surface);
}
